In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('glass.csv')
data.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
data.shape

(214, 10)

In [5]:
data.Type.unique()

array([1, 2, 3, 5, 6, 7], dtype=int64)

In [6]:
data.Ba.unique()

array([0.  , 0.09, 0.11, 0.69, 0.14, 3.15, 0.27, 0.06, 0.15, 2.2 , 0.24,
       1.19, 1.63, 1.68, 0.76, 0.64, 0.4 , 1.59, 1.57, 0.61, 0.81, 0.66,
       0.53, 0.63, 0.56, 1.71, 0.67, 1.55, 1.38, 2.88, 0.54, 1.06, 1.64,
       1.67])

In [7]:
data.Fe.unique()

array([0.  , 0.26, 0.11, 0.24, 0.17, 0.07, 0.19, 0.14, 0.22, 0.06, 0.3 ,
       0.16, 0.1 , 0.09, 0.31, 0.03, 0.12, 0.32, 0.15, 0.2 , 0.34, 0.28,
       0.08, 0.29, 0.21, 0.18, 0.25, 0.35, 0.37, 0.51, 0.05, 0.01])

In [13]:
X = data.iloc[:,:-1]
y = data.iloc[:,9]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 40)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [16]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion = 'entropy', n_estimators = 100, random_state = 40)
model.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=40)

In [18]:
y_pred = model.predict(x_test)

In [19]:
model.score(x_test, y_test)

0.7209302325581395

In [20]:
import joblib

In [21]:
filename = 'model.sav'
joblib.dump(model, filename)

['model.sav']